@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://db.onlinewebfonts.com/c/16697a764b01cdcc691b05f001046bc3?family=MuseoSans-500");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #EEEEEE 0% 0% no-repeat;
  height: 100vh;
}

nav {
  width: auto;
  height: 65px;
  border: 1px solid black;
  background: url("./../../Images/wave.png") rgba(37, 49, 63, 0.7);
  background-size: auto;
  background-blend-mode: overlay;
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 1;
}
nav .content {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 6%;
  grid-template-rows: 1;
}
nav .content .img {
  width: 40%;
}
nav .content .img img {
  width: 208px;
  height: 50px;
}
@media screen and (max-width: 410px) {
  nav .content .img img {
    width: 140px;
    padding-left: 10px;
  }
}
nav .content .link {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav .content .link img {
  width: 45px;
  height: 45px;
  margin-top: 6px;
  padding: 0 15px 0 15px;
}
@media screen and (max-width: 525px) {
  nav .content .link img {
    padding: 0 10px;
  }
}
@media screen and (max-width: 420px) {
  nav .content .link img {
    width: 30px;
    height: 30px;
    padding: 0 5px;
    margin-top: 13px;
  }
}
nav .content .link a {
  text-decoration: none;
  margin-top: 20px;
  padding: 0 20px;
  text-align: center;
  font: 17px Quicksand;
  font-weight: 500;
  letter-spacing: 0px;
  color: #3FD28B;
  opacity: 1;
}
nav .content .link span:not(.menubar) {
  display: flex;
  flex-direction: row;
}
nav .content .link .icon {
  position: relative;
}
nav .content .link .icon::after {
  content: "1";
  position: absolute;
  color: white;
  padding-top: 4px;
  width: 20px;
  height: 20px;
  /* display: flex; */
  text-align: center;
  align-items: center;
  right: 8px;
  border-radius: 50%;
  background-color: #2A7FF3;
  font: 12px Quicksand;
}
@media screen and (max-width: 440px) {
  nav .content .link .icon::after {
    width: 10px;
    width: 10px;
  }
}
nav .content .link .imge {
  position: relative;
}
nav .content .link .imge::after {
  content: "T";
  position: absolute;
  color: white;
  padding-top: 4px;
  width: 20px;
  height: 20px;
  text-align: center;
  align-items: center;
  right: 15px;
  border-radius: 50%;
  background-color: #2A7FF3;
  font: 12px Quicksand;
}
nav .content .link span .active {
  color: white;
}
nav .content .link span .active::after {
  content: "";
  height: 5px;
  background: #fff;
  display: block;
  margin-top: 16px;
}
nav .content .link .menu-icons {
  color: #3FD28B;
  padding: 0 20px;
  font-size: 35px;
  margin-top: 10px;
}
nav .content .link .menu-img {
  width: 35px;
  height: 35px;
  margin-top: 12px;
}
@media screen and (max-width: 525px) {
  nav .content .link .menu-icons {
    padding: 0 10px;
  }
  nav .content .link .menu-img {
    width: 28px;
    height: 28px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 410px) {
  nav .content .link .menu-icons {
    padding: 0 10px;
    font-size: 35px;
  }
  nav .content .link .menu-img {
    margin: 13px 8px 0 8px;
  }
}
@media screen and (max-width: 440px) {
  nav .content .link .menu-icons {
    padding: 0 10px;
    font-size: 35px;
  }
}
@media screen and (max-width: 420px) {
  nav .content .link .menu-icons {
    margin-top: 10px;
    padding: 0 10px;
  }
}
nav .content .link .menubar {
  display: none;
}
@media screen and (max-width: 1100px) {
  nav .content .link a {
    display: none;
  }
  nav .content .link .menubar {
    display: block;
  }
}
@media screen and (min-width: 1100px) {
  nav .sidebar {
    display: none;
  }
}
nav .sidebar {
  position: absolute;
  right: 18px;
  top: 100%;
  height: -moz-max-content;
  height: max-content;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  border-radius: 2px;
  opacity: 0;
  width: 0px;
  overflow: hidden;
}
nav .sidebar .links {
  display: flex;
  flex-direction: column;
}
nav .sidebar .links li {
  padding: 10px 10px 25px 25px;
  color: #1F7A54;
  font: 14px Quicksand;
  font-weight: 530;
  text-decoration: none;
  list-style-type: none;
  position: relative;
}
nav .sidebar .links li .arrow-div {
  width: 6px;
  height: 6px;
  color: #1F7A54;
  position: absolute;
  top: 6px;
  right: 30px;
}
nav .sidebar .links li .arrow-div::after {
  content: "";
  border: 2px solid #1F7A54;
  display: inline-block;
  transform: rotate(-135deg);
  height: 6px;
  width: 6px;
  border-right: none;
  border-bottom: none;
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .sidebar .links li img {
  position: absolute;
  right: 10px;
  top: 6px;
  opacity: 0;
  transition: opacity 2s ease-in;
}
nav .sidebar .links li img[data-states=open] {
  opacity: 1;
}
nav .sidebar .links li img[data-state=closed] {
  opacity: 0;
  display: none;
}
nav .sidebar .links li .rotate::after {
  transform: rotate(45deg);
}
nav .sidebar .links .clicked {
  background: #F3F3F3 0% 0% no-repeat padding-box;
  padding-bottom: 20px;
}
nav .sidebar .links .clicked-content {
  font: 14px Quicksand;
  padding: 25px 10px 0px 25px;
  font-weight: 530;
  text-transform: uppercase;
}
nav .sidebar[data-state=open], nav .sidebar[data-state=clicked] {
  animation-name: example;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
nav .sidebar[data-state=closed] {
  animation-name: example-close;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@keyframes example {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 280px;
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes example-close {
  from {
    width: 280px;
    opacity: 1;
  }
  to {
    width: 0px;
    opacity: 0;
  }
}
nav .alertbox {
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: 160px;
  background: white;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  border-radius: 0px 0px 2px 2px;
  overflow: hidden;
  height: 0px;
  width: 0px;
  opacity: 0;
  transition: width 0.8s ease-in, height 0.8s ease-out, opacity 0.6s ease-in-out 0.2s;
}
nav .alertbox .msg {
  width: 98%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  border-top: 1px solid #6E6E6E;
  border-top: 1px solid #6E6E6E;
}
nav .alertbox .msg .alrtmsg {
  display: flex;
  padding: 15px 10px 10px 5px;
  text-align: left;
  font: 14px/18px Quicksand;
  font-weight: 550;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
nav .alertbox .msg .alrtmsg .alrtimg {
  margin-left: auto;
  padding-right: 5px;
}
nav .alertbox .msg .alrtmsg .alrtimg img {
  width: 20px;
  height: 20px;
}
nav .alertbox .msg .alrttime {
  text-align: right;
  font: 12px/17px Quicksand;
  font-weight: 500;
  letter-spacing: 0px;
  color: #6E6E6E;
  opacity: 1;
  padding-right: 20px;
}
nav .alertbox .alertbtn {
  width: 100%;
  height: 50px;
  text-align: center;
  color: #1F7A54;
  background: white;
  border: none;
  font: 14px/18px Quicksand;
  font-weight: 600;
  letter-spacing: -0.35px;
  position: absolute;
  bottom: 0;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  border-radius: 0px 0px 2px 2px;
}
nav .alertbox[data-alert=open], nav .alertbox[data-alert=clicked] {
  width: 315px;
  height: 500px;
  opacity: 1;
}
nav .alertbox[data-alert=closed] {
  width: 0px;
  height: 0px;
  opacity: 0;
}
@keyframes example {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 315px;
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes example-close {
  from {
    width: 315px;
    opacity: 1;
  }
  to {
    width: 0px;
    opacity: 0;
  }
}

/****************************** Footer CSS ************************************/
footer {
  margin-top: auto;
  width: 100%;
  height: 90px;
  display: flex;
  bottom: 0;
  flex-direction: column;
  margin-top: auto;
  color: #616161;
  justify-content: center;
  align-items: center;
}
footer .row-1 {
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  font: normal 16px Quicksand;
  letter-spacing: 0px;
  color: #1F7A54;
  opacity: 1;
}
footer .row-2 {
  width: 100%;
  height: 30px;
  background: #E0E1E1 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
}
footer .row-2 img {
  width: 170px;
  height: 35px;
}
footer .row-2 p {
  font: 12px Quicksand;
  font-weight: bold;
  letter-spacing: 0px;
  color: #616161;
  opacity: 1;
  margin-left: 40px;
}
footer .row-2 .company {
  font-weight: bolder;
}
footer .row-2 .foot-text {
  margin-left: 20px;
}
footer .row-2 .footer-bar {
  font-size: 30px;
}
@media screen and (max-width: 525px) {
  footer .row-2 img {
    width: 140px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 650px) {
  footer .row-2 .foot-text {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    font-weight: normal;
  }
}
@media screen and (max-width: 410px) {
  footer .row-2 {
    height: 40px;
    margin-top: 5px;
    font-size: 12;
    font-weight: normal;
  }
}
@media screen and (max-width: 525px) {
  footer .row-1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 440px) {
  footer .row-1 {
    font-size: 17px;
  }
}
@media screen and (max-width: 410px) {
  footer .row-1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 410px) {
  .footer {
    height: 70px;
  }
}
/********************* Main Container CSS ************************/
.main-container {
  margin: 20px;
  height: -moz-max-content;
  height: max-content;
}
.main-container .header {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  text-align: center;
  background: #8DDC97;
}
.main-container .header .row-items {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  color: #222222;
  font: 20px Quicksand;
  font-weight: 500;
}
.main-container .header .row-items .number {
  padding-left: 10px;
  padding-right: 5px;
  font: normal normal bold 24px/28px Quicksand;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
.main-container .header .row-items .material-symbols-outlined {
  font-size: 30px;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
@media screen and (max-width: 410px) {
  .main-container .header .row-items {
    padding: 15px;
  }
}
@media screen and (max-width: 365px) {
  .main-container .header .row-items {
    padding: 10px;
  }
}
.main-container .header .active-class {
  border-bottom: 5px solid #222222;
}
.main-container .sorting {
  padding-top: 24px;
  text-align: right;
  font: 12px Quicksand;
  font-weight: 550;
  letter-spacing: 0px;
  color: #686868;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.main-container .sorting p {
  margin-top: 5px;
}
.main-container .sorting select {
  width: 13%;
  background-color: #EEEEEE;
  border: none;
  border-bottom: 1px solid rgba(33, 62, 84, 0.2392156863);
  font: 16px Quicksand;
  font-weight: 600;
  letter-spacing: 0px;
  color: #333333;
  padding-top: 5px;
  margin-right: 20px;
  margin-left: 5px;
}
.main-container .sorting select:focus, .main-container .sorting select :focus-visible {
  outline: none;
}
@media screen and (max-width: 410px) {
  .main-container .sorting select {
    width: 35%;
    font-size: 15px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 525px) {
  .main-container .sorting select {
    width: 25%;
  }
}
.main-container .sorting .up-arrow {
  color: #1F7A54;
}
@media screen and (max-width: 410px) {
  .main-container .sorting .up-arrow {
    font-size: 25px;
  }
}
@media screen and (max-width: 410px) {
  .main-container .sorting {
    padding-right: 20px;
    margin-bottom: 10px;
    font-size: 15px;
  }
}
.main-container .card-text {
  text-align: left;
  font: 12px Quicksand;
  font-weight: 500;
  letter-spacing: 0px;
  color: #666666;
  word-spacing: 2px;
  margin-top: 7px;
}
.main-container .card-text-numb {
  color: #1F7A54;
  font-weight: 1000;
  margin-left: 5px;
}
.main-container .h-line {
  color: #686868;
  margin-top: 20px;
}
.main-container .cards {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.main-container .cards .card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 513px;
  padding: 30px 25px 10px 25px;
  background: #fff;
  margin: 0 40px 20px 0;
}
.main-container .cards .card[data-state=expired]::before {
  content: "EXPIRED";
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1px;
  color: #D80000;
  background: #FFE4E6;
  border-radius: 2px;
  opacity: 1;
  padding: 5px;
  font: 13px MuseoSans-500;
  font-weight: 550;
}
.main-container .cards .card .card-content {
  display: flex;
  flex-direction: row;
}
.main-container .cards .card .card-content .img {
  width: 28%;
}
.main-container .cards .card .card-content .img img {
  width: 132px;
  height: 157px;
}
.main-container .cards .card .card-content .text {
  width: 72%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.main-container .cards .card .card-content .text .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: 16px Quicksand;
  font-weight: 600;
  color: #222222;
}
.main-container .cards .card .card-content .text .heading .line-clamping {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.main-container .cards .card .card-content .text .heading .starimg {
  margin-left: auto;
}
.main-container .cards .card .card-content .text .heading .starimg img {
  width: 20px;
  height: 20px;
  margin-left: auto;
}
.main-container .cards .card .card-content .text .heading .grayed img {
  filter: grayscale(1);
  opacity: 0.4;
}
.main-container .cards .card .card-content .text .numb {
  color: #222222;
  font-weight: bolder;
  margin-right: 5px;
}
.main-container .cards .card .card-content .text .unumb, .main-container .cards .card .card-content .text .uless, .main-container .cards .card .card-content .text .utop {
  margin-left: 2.5px;
}
@media screen and (max-width: 525px) {
  .main-container .cards .card .card-content .text {
    padding-left: 35px;
  }
}
@media screen and (max-width: 520px) {
  .main-container .cards .card .card-content .text {
    padding-left: 60px;
  }
}
@media screen and (max-width: 450px) {
  .main-container .cards .card .card-content .text {
    padding-left: 45px;
  }
}
@media screen and (max-width: 430px) {
  .main-container .cards .card .card-content .text {
    padding-left: 75px;
  }
}
.main-container .cards .card .card-content .hideult {
  display: none;
}
.main-container .cards .card .card-content .prof {
  width: 80%;
  border: none;
  border-bottom: 1px solid rgba(34, 34, 34, 0.7);
  background: #fff;
  text-indent: 0px;
  font: 16px Quicksand;
  color: #222222;
  font-weight: 600;
  margin: 10px 0 0 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("./Icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 100%;
}
.main-container .cards .card .card-content:focus, .main-container .cards .card .card-content :focus-visible {
  outline: none;
}
.main-container .cards .card .card-content .stud {
  margin-top: 10px;
  font: 12px Quicksand;
  font-weight: 550;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  padding-right: 15px;
}
.main-container .cards .card .card-content .stud .studleft {
  margin-right: 10px;
}
.main-container .cards .card .down-line {
  color: #686868;
  margin-top: 15px;
}
.main-container .cards .card .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.main-container .cards .card .icons span img {
  width: 23px;
  height: 23px;
}
.main-container .cards .card .icons .icon-fade {
  opacity: 0.5;
}
@media screen and (max-width: 1165px) {
  .main-container .cards .card {
    margin-right: 0px;
  }
}
@media screen and (max-width: 420px) {
  .main-container .cards .card {
    margin-right: 0px;
  }
}
@media screen and (max-width: 1165px) {
  .main-container .cards {
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .main-container .cards {
    justify-content: center;
  }
}/*# sourceMappingURL=dashboard.css.map */