$primary-color : #1F7A54;
$background-color : #EEEEEE;
$text-color-darker : #000;
$footer-txt : #616161;
$footer-bg : #E0E1E1;
$footer-line-color : #0505051f;
$form-bg: #fff;
$form-border-color : #3AC7EC;
$text-color-dark : #222222;
$radio-bg:#008000;
$text-color-light : #333333;
$label-color : #666666; 
$btn-color : #1F2834;
$box-shadow : #0000003D;