*{
    margin: 0;
    padding: 0;
}
.main_container{
    .canvasDiv{
        display: grid;
        grid-template-columns: 44px calc(100% - 44px);
        grid-template-rows: 44px calc(100% - 44px);
        max-height: 98vh;
        .rowHeader{
            display: block;
            position: sticky;
            // top: 0;
            left: 0;
            outline: 1px solid red;
        }

        .colHeader{
            position: sticky;
            display: block;
            top: 0;
            left: 30px;
            outline: 1px solid red;
        }

        .outer-excel{
            resize: both;
            overflow: scroll;
            position: relative;
            .excel{
                position: sticky;
                left: 0;
                top: 0;
            }
        }

        .btn{
            position: sticky;
            left: 0;
            top: 0;
            z-index: 3;
            background-color: cyan;
        }
    }
}