@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

.dropzone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 360px;
  border: 4px dashed #a1a0a0;
  background: #eeeeee;
  padding: 20px;
  margin: 100px;

  h1{
    font : 30px Quicksand;
    font-weight: 600;
    padding: 5px;
  }

  .dropbtn{
    padding: 15px;
    font: 19px Quicksand;
    font-weight: 500;
    margin-top: 30px;
    background-color: #5ec576;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2rem 3rem rgba(62, 70, 145, 0.18);
  }

  .upload{
    padding: 15px 45px;
  }

  .file_name{
    font-family: Quicksand;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    text-align: center;
    padding-top: 15px;
    span{
      font-size: 22px;
      padding-left: 13px;
      padding-top: 1px;
    }
  }
}

.mainContainer{

  position: relative;

  .navbar{
    width: 100%;
    height: 70px;
    display: grid;
    background: #1A5319;
    grid-template-columns: 1fr 1fr 0.35fr;
     ul{
      display: grid;
      grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
      gap: 50px;
      padding-top: 10px;
      li{
        width: 100px;
        height: 50px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 30px;
          height: 30px;
        }

        .link-tags{
          text-decoration: none;
          color: white;
          padding-left: 5px;
          padding-right: 7px;
        }
        &:hover{
          border-bottom: 3px solid #D6EFD8;
        }
      }
    }

    .search{
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center;
      width: 45px;
      height: 35px;
      margin-top: 20px;
      background-color: #1A5319;
      transition: 0.5s width ease-in-out , 0.5s background-color ease-in-out;
      right: 0;
      border-radius: 20px;
      position: absolute;
      right: 20px;

      .srchInptbox{
        width: 0px;
        height: 0px;
        // display: none;
        border: none;
        transition: 1s width ease-in-out;
        border-radius: 20px;

      }
      span{
        position: absolute;
        right: 10px;
        width: 30px;
        height: 30px;
        color: white;
        top: 5px;
      }

      &:hover , &:has(:focus){
        width: 250px;
        background: #D6EFD8;
        z-index: 1;
        border-radius: 20px;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        transition: 0.5s width ease-in-out;

        span{
          color: #1A5319;
        }

        .srchInptbox{
          width: 200px;
          height: 32px;
          background: #D6EFD8;
          border: none;
          font-size: 18px;
          text-indent: 5px;

          &:focus{
            border: none;
            outline: none;
          }
        }
      }
    }
  }

  .aggr-box{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #D6EFD8;
    align-items: center;
  }

  .canva-bg{
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: scroll;
    font-family: Quicksand;
    font-weight: 700;
    resize: both;
  
    .canvaTitleBlock{
      position: sticky;
      top: 0;
      // margin-top: -4px;
      display: block;
    }
  
    .inputText{
      display: none;
      position: absolute;
      // background-color: red;
      font-weight: 500;
      font-size: 16px;
      font-family: Quicksand;
      font-weight: 600;
    }
  }

  .modal{
    top: 120px;
    left: 490px;
    position: absolute;
    width: 500px;
    height: 620px;
    border: 1px solid #e4e3e3;
    border-radius: 5px;
    display: none;
    font-family: "Roboto Slab", serif;

    
    .modal-content {
      .heading{
        
        display: flex;
        
        .close{
          margin-left: auto;
          font-size: 20px;
          padding: 5px 10px 0px 0px ;
        }
      }
      .row{
        
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        justify-content: space-around;
        padding: 0px 50px;


        .iptbox{
          display: flex;
          flex-direction: column;
          width: 100%;

          .lbl{
            padding-bottom: 7px;
            font-size: 15px;
            color: #212529;
          }

          input{
            width: 150px;
            // height: 23px;
            border: 1px solid #ced4da;
            padding: .375rem;
          }

          .iptbox3{
            width: 100px;
          }

          .address{
            width: 95%;
          }

          .mailbox{
            display: flex;
            flex-direction: row;
            align-items: center;
            .mailspan{
              display: flex;
              background-color: #e9ecef;
              border: 1px solid #ced4da;
              padding: .375rem 10px;
              align-items: center;
              color: #212529;
              font-size: 12px;
            }
          }
        }
      }

      .btn{
        width: 85%;
        padding: 8px;
        margin: 0px 30px;
        background: #1A5319;
        color: white;
        border: none;
        border-radius: 5px;
      }
    }
  }
}